{% load static i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Cambiar Contraseña" %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100 bg-gradient">
        <div class="card p-4 shadow-lg" style="width: 25rem;">
            <div class="text-center mb-4">
                <h4 class="text-primary fw-bold">{% trans "Cambiar Contraseña" %}</h4>
                <p class="text-muted">{% trans "Actualiza tu contraseña aquí." %}</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="old_password" class="form-label fw-bold">{% trans "Contraseña Actual" %}</label>
                    <input type="password" id="old_password" name="old_password" class="form-control form-control-lg" placeholder="{% trans 'Ingresa tu contraseña actual' %}" required>
                </div>
                <div class="mb-3">
                    <label for="new_password1" class="form-label fw-bold">{% trans "Nueva Contraseña" %}</label>
                    <input type="password" id="new_password1" name="new_password1" class="form-control form-control-lg" placeholder="{% trans 'Ingresa tu nueva contraseña' %}" required>
                </div>
                <div class="mb-3">
                    <label for="new_password2" class="form-label fw-bold">{% trans "Confirmar Nueva Contraseña" %}</label>
                    <input type="password" id="new_password2" name="new_password2" class="form-control form-control-lg" placeholder="{% trans 'Confirma tu nueva contraseña' %}" required>
                </div>
                <div class="text-muted mb-3">
                    <ul class="list-unstyled">
                        <li>- {% trans "La contraseña debe contener al menos 8 caracteres." %}</li>
                        <li>- {% trans "No debe ser una contraseña común." %}</li>
                        <li>- {% trans "No puede contener solo números." %}</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-success w-100 btn-lg">{% trans "Cambiar Contraseña" %}</button>
            </form>
        </div>
    </div>
</body>
</html>
